@use "../../variables" as v;

.buttonProducts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;

  button {
    cursor: pointer;
    border: none;
    padding: 10px 35px;
    border-radius: 6px;
    background: none;
    border: 1px solid rgba(v.$color-primary, 0.3);
  }
  .active {
    background: v.$color-primary;
    color: v.$color-BG-primary;
  }
}
@media (max-width: 720px) {
  .buttonProducts {
    flex-wrap: wrap;
  }
}
@media (max-width: 400px) {
  .buttonProducts {
    button {
      padding: 10px 25px;
    }
  }
}

// Estilos para los controles de paginación
.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;

  button {
    background: transparent;
    border: 1px solid v.$color-primary;
    color: v.$color-primary;
    padding: 5px 10px;
    cursor: pointer;
    transition:
      background-color 0.3s,
      color 0.3s;
    font-size: 1rem;
    border-radius: 3px;

    &:hover {
      background-color: v.$color-primary;
      color: v.$color-BG-primary;
    }

    &.active {
      background-color: v.$color-primary;
      color: v.$color-BG-primary;
      font-weight: bold;
    }
  }
}
