@use "../../variables" as v;

.buttonProducts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;

  button {
    cursor: pointer;
    border: none;
    padding: 10px 35px;
    border-radius: 6px;
    &:visited {
      background: red;
    }
  }
  .active {
    background: v.$color-primary;
  }
}
@media (max-width: 720px) {
  .buttonProducts {
    flex-wrap: wrap;
  }
}

// Estilos para los controles de paginación
.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;

  button {
    background: transparent;
    border: 1px solid v.$color-primary; // Ajusta el color según tus variables
    color: v.$color-primary; // Ajusta el color según tus variables
    padding: 5px 10px;
    cursor: pointer;
    transition:
      background-color 0.3s,
      color 0.3s;
    font-size: 1rem; // Ajusta el tamaño de la fuente según sea necesario

    &:hover {
      background-color: v.$color-primary; // Ajusta el color según tus variables
      color: v.$color-BG-primary; // Ajusta el color según tus variables
    }

    &.active {
      background-color: v.$color-primary; // Ajusta el color según tus variables
      color: v.$color-BG-primary; // Ajusta el color según tus variables
      font-weight: bold; // Resalta el botón activo
    }
  }
}
