@use "../../variables" as v;

// Estilos para el contenedor de los botones sociales en el encabezado
.socialHeader {
  display: flex;
  left: 200px;
  gap: 10px;

  // Estilo de los enlaces dentro del contenedor
  a {
    background: v.$color-primary;
    color: v.$color-BG-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid v.$color-BG-primary;
    box-shadow: v.$box-shadow;

    .socialIcon {
      font-size: 0.9rem;
      color: v.$color-BG-primary;
    }
  }
}

// Estilos para el contenedor de los botones sociales en otras ubicaciones
.social {
  width: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;

  a {
    background: v.$color-primary;
    color: v.$color-BG-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid v.$color-BG-primary;
    box-shadow: v.$box-shadow;

    .socialIcon {
      font-size: 16px; // Tamaño de icono ajustado
      color: v.$color-BG-primary;
    }
  }
}
