@use "../../variables" as v;

.productMenu {
  width: 46%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: auto;

  &__img {
    height: 40%;
    position: relative;
    img {
      border-radius: 6px;
      width: 100%;
      height: 150px;
      object-fit: cover;
      box-shadow: v.$box-shadow;
    }
  }

  &__info {
    font-family: v.$font-family-text;
    display: flex;
    flex-direction: column;
    gap: 15px;
    span {
      font-size: 1rem;
      font-weight: 500;
      color: v.$color-primary;
    }
    p {
      font-size: 0.8rem;
      line-height: 150%;
    }
  }

  &__button {
    display: flex;
    &__price {
      color: v.$color-primary;
      padding: 5px 50px;
      border: 2px solid v.$color-primary;
      border-radius: 50px;
      background: none;
      cursor: pointer;
      font-size: 0.9rem;
      text-decoration: none;
    }
  }
}

@media (max-width: 899px) {
  .productMenu {
    width: 45%;
  }
}
@media (max-width: 799px) {
  .productMenu {
    width: 44%;
  }
}
@media (max-width: 699px) {
  .productMenu {
    width: 100%;
  }
}
