@use "../../../styles/variables.scss" as v;


.loading {
  width: 100%;
  color: v.$color-primary;
  font-size: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; 


  h1 {
    width: auto;
    padding: 25px 60px;
    border-radius: 8px;
    border: 1px solid v.$color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;

    span {
      font-size: 5rem;
    }
  }
}

.public-product-list {
  display: grid;
  gap: 1.5rem;
  padding: 1rem;
  margin: 0 auto; // Centrado horizontal

  // 1. Estilos para Móvil (por defecto)
  grid-template-columns: 1fr; // Una columna

  // 2. Estilos para Tablet
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr); // Dos columnas
    gap: 2rem;
    width: 95%; // Un poco de margen en los lados
    max-width: 960px; // Un ancho máximo para tabletas grandes
  }

  // 3. Estilos para Escritorio
  @media (min-width: 1024px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 90%;
    margin: auto;
  }

  .no-products-message {
    text-align: center;
    grid-column: 1 / -1;
    font-size: 1.2rem;
    color: v.$color-primary;
  }
}

.public-product-card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: v.$box-shadow-products;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }

  .product-info {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    &-title{

      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      .product-name {
        font-family: v.$font-family-text;
        font-size: 1.3rem;
        margin: 0 0 0.5rem 0;
      }
      .product-category {
        font-size: 0.9rem;
        font-style: italic;
        color: v.$color-primary;
        margin-bottom: 0.5rem;
      }

    }
  }


  .product-description {
    font-size: 0.9rem;
    color: #666;
    flex-grow: 1;
    margin-bottom: 1rem;
   }

  .product-price {
    font-size: 1.4rem;
    font-weight: bold;
    color: v.$color-primary;
    align-self: flex-end;
  }
}
