@use "../../variables" as v;
@use "../../components/buttons/buttons.scss" as b;

.buttonModal {
  .menuModal {
    cursor: pointer;
    box-shadow: v.$box-shadow;
    border: none;
    @include b.buttonPrimary();
    padding: 10px 30px;
  }
}
