@use "../../variables" as v;
@use "../../components/buttons/buttons.scss" as b;

.modalContainer {
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100vh;
  color: blue;
  background: v.$color-BG-modals;
  backdrop-filter: blur(5px);
  display: flex;

  &__modal {
    width: 80%;
    margin: auto;
    height: 80vh;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

    article {
      border-radius: 6px;
      position: relative;
      display: flex;
      .imgContainer {
        width: 50%;
        .gradientImg {
          position: absolute;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            270deg,
            v.$color-BG-primary 50%,
            rgba(255, 255, 255, 0) 90%
          );
          z-index: 1;
          border-radius: 6px;
        }
        img {
          border-radius: 6px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .menuModalInfo {
        width: 50%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        h3 {
          font-family: v.$font-family-text;
          color: v.$color-font-primary;
          width: 70%;
          padding: 15px 0px;
          border-bottom: 1px solid v.$color-primary;
          text-align: center;
          margin-bottom: 15px;
        }
        ul {
          color: v.$color-font-primary;
          list-style-type: none;
          li {
            font-size: 11px;
            line-height: 1.5em;
          }
        }
      }

      .menuHover {
        display: none;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: v.$color-BG-hover-menu;
        .buttonMenuModal {
          cursor: pointer;
          @include b.buttonPrimary();
          border: none;
          box-shadow: v.$box-shadow;
        }
      }
      &:hover {
        .menuHover {
          display: flex;
          z-index: 3;
        }
      }
    }
    .article-two {
      display: flex !important;
      flex-direction: column;
      .imgContainer {
        width: 100%;
        height: 50%;
        .gradientImg {
          background: linear-gradient(
            360deg,
            v.$color-BG-primary 50%,
            rgba(255, 255, 255, 0) 90%
          );
        }
      }
      .menuModalInfo {
        width: 100%;
      }
    }
    .menu1 {
      grid-area: 1 / 1 / 2 / 3;
    }
    .menu2 {
      grid-area: 1 / 3 / 2 / 4;
    }
    .menu3 {
      grid-area: 1 / 4 / 2 / 5;
    }
    .menu4 {
      grid-area: 2 / 1 / 4 / 2;
    }
    .menu5 {
      grid-area: 2 / 2 / 4 / 3;
    }
    .menu6 {
      grid-area: 2 / 3 / 4 / 4;
    }
    .menu7 {
      grid-area: 2 / 4 / 4 / 5;
    }
  }
}

@media (max-width: 900px) {
  .modalContainer {
    &__modal {
      width: 90%;
    }
  }
}
@media (max-width: 800px) {
  .modalContainer {
    &__modal {
      height: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);

      article {
        height: 180px;
      }

      .article-two {
        flex-direction: row;
        .imgContainer {
          height: 100%;
          .gradientImg {
            background: linear-gradient(
              270deg,
              v.$color-BG-primary 50%,
              rgba(255, 255, 255, 0) 90%
            );
          }
        }
      }

      .menu1 {
        grid-area: 1 / 1 / 2 / 2;
      }
      .menu2 {
        grid-area: 1 / 2 / 2 / 3;
      }
      .menu3 {
        grid-area: 2 / 1 / 3 / 2;
      }
      .menu4 {
        grid-area: 2 / 2 / 3 / 3;
      }
      .menu5 {
        grid-area: 3 / 1 / 4 / 2;
      }
      .menu6 {
        grid-area: 3 / 2 / 4 / 3;
      }
      .menu7 {
        grid-area: 4 / 1 / 5 / 3;
      }
    }
  }
}

@media (max-width: 480px) {
  .modalContainer {
    &__modal {
      display: flex;
      flex-direction: column;
    }
    article {
      height: 145px;
    }
  }
}
