@use "../../../styles/variables" as v;

.category-filters-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
  // Estilos para el desplazamiento en móvil
  @media (max-width: 768px) {
    position: relative;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    // Ocultar la barra de desplazamiento
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, and Opera */
    }


    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0; // Ajustado para cubrir toda la altura
      width: 50px;
      background: linear-gradient(to left, v.$color-BG-primary, transparent);
      pointer-events: none; // Para que no interfiera con el clic
    }
  }
}

.category-filter-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 1.8rem;
  border: 1px solid #e0e0e0;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.9rem;
  user-select: none; // Evita que el texto se seleccione al hacer clic

  &:hover {
    background-color: lighten(v.$color-primary, 15%);
    color: #fff;
    border-color: lighten(v.$color-primary, 15%);
  }
  &.active {
    background-color: v.$color-primary;
    color: v.$color-BG-primary;
    border-color: v.$color-primary;
    font-weight: bold;
  }
}
