@use '../../styles/variables' as *;


.menu-page-container-titleSection {
  display: flex;
  aling-items: center;
  justify-content: center;
  padding: 30px;

  .title-section{ 
    color: $color-primary;
  }
}
